@charset "UTF-8";

:root{
    --fundo: #F6D8C6;
    --titulos: #B88E2F;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none ;
}

body{
    background-color: var(--fundo);
    display: flex;
    justify-content: center;    
    flex-wrap: wrap; /*GP*/
}

.conteudo-principal{
    padding: 50px;
    max-width: 500px; 
}

.titulo-principal{
    font-size: 4.2em;
    color: var(--titulos);
    padding-bottom: 10px;
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000,
     2px 4px 3.5px rgba(0, 0, 0, 0.5);
}

.titulo-secundario{
    font-size: 2.2em;
    color: var(--titulos);
    padding-bottom: 30px;
    padding-left: 2px;
    /* "borda" */
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000,
     /*(Drop Shadow)*/
     3px 3px 5px rgba(0, 0, 0, 0.5);
}

.descricao{
    font-size: 1.2em;
    max-width: 100%;
}

.caixa-de-links{
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
}

.caixa-link01,
.caixa-link02,
.caixa-link03{
    display: flex;
    align-items: center;
    gap: 10px;
}

.icons-do-link{
    font-size: 1.2em;
}

.links{
    font-size: 0.98em;
    color: rgb(25, 0, 255);
    font-style: italic;
    transition: 0.6s;
}

.links:hover{
    text-decoration: underline;
    background-color: #ffbf2a9f;
    border-radius: 2.5px;
    font-size: 1em;
    
}

.links:visited{
    color:rgb(25, 0, 255);
}

.links:active{
    background-color: #eba606;
}

.conteudo-secundario{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-principal{
    width: 701.2px;
    height: auto;
}


/*RESPONSIVIDADE*/

